{% extends "base.html" %}
{% block body %}

{% if message %}
<script>
    window.onload = function() {
        $.mobile.toast({
            message: '{{ message }}',
            duration: 2500,
            position: 'bottom',
            classOnOpen: 'kitkat'
        });
    };
</script>
{% endif %}


<div data-role="header" data-position="fixed" style="background-color:#455A64; color:#fff; text-shadow: none;border: none;box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);height: 50px;">
  <h1>UnicornPi Beast</h1>
</div>


{% if beast.special.alarm._running == True %}
<div data-role="header" data-theme="b" style="padding: 6px;">
<h4 style="font-size: 80%;">Alarm set for {{ beast.special.alarm.timestring }}</h3> 
<a href="./alarm/stop" class="ui-btn-right ui-btn ui-btn-b ui-btn-inline ui-mini ui-corner-all ui-btn-icon-right ui-icon-delete">Stop</a>
</div>
{% endif %}

{% if beast.special.fade._running == True %}
<div data-role="header" data-theme="b" style="padding: 6px;">
<h4 style="font-size: 75%;">Fade down for {{ beast.special.fade.fademins }} minutes</h3> 
<a href="./fade/stop" class="ui-btn-right ui-btn ui-btn-b ui-btn-inline ui-mini ui-corner-all ui-btn-icon-right ui-icon-delete">Stop</a>
</div>
{% endif %}



<div data-role="content">

	<div data-role="collapsible-set"> <!--Global functions-->

		<div data-role="collapsible" data-collapsed-icon="carat-d" data-expanded-icon="carat-u" data-iconpos="right"><h3>Global Brightness</h3>
			<form method="get" action="brightness">
			  <label for="slider-0">Global Brightness:</label>
			  <input type="range" name="brightness" id="brightness" value="{{ beast.core.getbrightness(pc=True) }}" min="0" max="100" step="1"/>  
			  <br/>
			  
			  <input type="submit" value="Set Brightness" />
			</form>
		</div>

	</div> <!--collapsible set-->



	<div data-role="collapsible-set"> <!--Static functions-->

		<div data-role="collapsible" data-collapsed-icon="carat-d" data-expanded-icon="carat-u" data-iconpos="right"><h3>HLS Lamp</h3>
			<div class="colorDisplay"></div>
			<form method="get" action="hls">
				<label for="hueslider">Hue:</label>
				<input type="range" name="hueslider" id="hueslider" min="0" max="360" step="1" value="{{ (colorsys.rgb_to_hls(beast.clamp.rgb[0]/255,beast.clamp.rgb[1]/255,beast.clamp.rgb[2]/255)[0]*360)|round|int }}"  data-theme="x">
				<br/>
				<label for="lightslider">Lightness:</label>
				<input type="range" name="lightslider" id="lightslider" min="0" max="100" step="1" value="{{ (colorsys.rgb_to_hls(beast.clamp.rgb[0]/255,beast.clamp.rgb[1]/255,beast.clamp.rgb[2]/255)[1]*100)|round|int }}" data-theme="y">
				<br/>
				
				<input type="submit" value="Start" />
			</form>

		</div>



		<div data-role="collapsible" data-collapsed-icon="carat-d" data-expanded-icon="carat-u" data-iconpos="right"><h3>Thermal Lamp</h3>
			<form method="get" action="thermal">
			  <label for="slider-4">Temperature (K):</label>
			  <input type="range" name="lamptemp" id="lamptemp" value="{{ beast.clamp.temp }}" min="1000" max="6600" step="20" data-theme="z"/>  
			  <br/>
			  
			  <input type="submit" value="Start" />
			</form>
            
            
            <fieldset class="ui-grid-a">
                <div class="ui-block-a">
                    <a href="./thermal?lamptemp=5000" data-role="button" style="background: #FFFBFA;">Daylight</a>
                </div>
                <div class="ui-block-b">
                    <a href="./thermal?lamptemp=3500" data-role="button" style="background: #FFD6B3;">Desklamp</a>
                </div>
            </fieldset>
            
            <fieldset class="ui-grid-a">
                <div class="ui-block-a">
                    <a href="./thermal?lamptemp=2500" data-role="button" style="background: #FF9166;">Evening</a>
                </div>
                <div class="ui-block-b">
                    <a href="./thermal?lamptemp=2000" data-role="button" style="background: #E65919; color:white;">Night</a>
                </div>
            </fieldset>
            
            
		</div>
        
	</div> <!--collapsible set-->


    <div data-role="collapsible-set"> <!--Dynamic functions-->
    
		<div data-role="collapsible" data-collapsed-icon="carat-d" data-expanded-icon="carat-u" data-iconpos="right"><h3>Rainbow</h3>
			<form method="get" action="rainbow">
			  <label for="slider-9">Speed:</label>
			  <input type="range" name="speed" id="speed" value="{{ beast.rainbow.speed*2 }}" min="0.01" max="1" step="0.01"/>  
			  <br/>
			  <label for="rainmode" class="select">Colour Mode:</label>
			  <select name="rainmode" id="rainmode">
				<option value="nochange">Select a theme</option>
				<option	value="0">Unicorn Rainbow</option>
				<option	value="1">Colour Cycle</option>
			  </select>
			  <input type="submit" value="Make Rainbows" />
			</form>
		</div>



		

		{% if beast.alsa.enabled == True %}
		<div data-role="collapsible" data-collapsed-icon="carat-d" data-expanded-icon="carat-u" data-iconpos="right"><h3>ALSA Equalizer</h3>
			<form method="get" action="alsa">
			  <label for="slider-13">Light Sensitivity:</label>
			  <input type="range" name="sensitivity" id="sensitivity" value="{{ beast.alsa.multiplier }}" min="1" max="20"/>  
			  <br/>
			  <label for="slider-14">Monitor Level:</label>
			  <input type="range" name="gain" id="gain" value="{{ beast.alsa.micmix.getvolume()[0] }}" min="1" max="100"/>  
			  <br/>
			  <label for="slider-15">System Volume:</label>
			  <input type="range" name="volume" id="volume" value="{{ beast.alsa.volmix.getvolume()[0] }}" min="1" max="100"/>  
			  <br/>
			  <label for="alsamode" class="select">Colour Mode:</label>
			  <select name="alsamode" id="alsamode">
				<option value="nochange">Select a theme</option>
				<option	value="0">Classic</option>
				<option	value="1">Spectrum</option>
                <option	value="4">Rainbow</option>
				<option	value="2">Ocean</option>
				<option	value="3">Pinkdrop</option>
                <option	value="5">Chilli</option>
                <option	value="6">Zune H</option>
                <option	value="7">Zune V</option>
			  </select>
			  
			  
			  <input type="submit" value="Start" />
			</form>
		</div>
		{% endif %}

	</div> <!--collapsible set-->

	<div data-role="collapsible-set"> <!--Special functions-->
    
		<div data-role="collapsible" data-collapsed-icon="carat-d" data-expanded-icon="carat-u" data-iconpos="right"><h3>Alarm Clock</h3>
			<form method="get" action="alarm">
			  <label for="slider-10">Time:</label>
			  <input type="time" name="time" id="time" value="{{ beast.special.alarm.timestring }}"/>  
			  <br/>
			  
			  <label for="slider-11">Lead time (minutes):</label>
			  <input type="range" name="lead" id="lead" min="1" max="120" value="{{ beast.special.alarm.leadmin }}"/>  
			  <br/>
			  
			  <label for="slider-12">Tail time (minutes):</label>
			  <input type="range" name="out" id="out" min="1" max="120" value="{{ beast.special.alarm.outmin }}"/>  
			  <br/>
			  
			  <input type="submit" value="Set Alarm" />
			</form>
		</div>
        
        <div data-role="collapsible" data-collapsed-icon="carat-d" data-expanded-icon="carat-u" data-iconpos="right"><h3>Brightness Fader</h3>
			<form method="get" action="fade">
			  <label for="slider-fade">Fade time (minutes):</label>
			  <input type="range" name="fademin" id="fademin" value="{{ beast.special.fade.fademins }}" min="1" max="120" step="1"/>  
			  <br/>
			  
			  <label for="slider-fade-2">Minimum brightness (fraction):</label>
			  <input type="range" name="scalefinal" id="scalefinal" value="{{ beast.special.fade.scalefinal }}" min="0" max="1" step="0.1"/>  
			  <br/>
			  
			  <input type="submit" value="Start Fade" />
			</form>
		</div>
        
	</div>
	

	<div class="ui-grid-solo">
		<div class="ui-block-a">
			<a href="./clear" data-role="button">Clear</a>
		</div>
	</div>

	<fieldset class="ui-grid-a">
		<div class="ui-block-a">
			<a href="./shutdown" data-role="button" onclick="return confirm('Shutting down the server will disable remote control.\n\nAre you sure?')">Shut down</a>
		</div>
		<div class="ui-block-b">
			<a href="./" data-role="button" data-ajax="false">Reload</a>
		</div>
	</fieldset>


</div> <!--content-->

<div data-role="footer" style="text-align: center; padding:8px; font-size: 11px;">
  UnicornPi Beast 3.0, Build 20170206-2200, &copy; Joel T. Collins 2017
</div>

{% endblock %}


